# venv folder
wine/
env/

# API keys
.env

# Chroma
.chroma/
chromadb_data
embeddings/

# Telemetry
backend/telemetry.log
backend/helpers/telemetry.log

# Data
archive/
backend/helpers/books_information/books_datasets
backend/data
defined_datasets

# Miscellany
__pycache__/
.DS_Store
testing.py