# venv folder
wine/
env/

# API keys
.env

# Chroma
.chroma/
chromadb_data

# Data
archive/
backend/helpers/books_information/books_datasets
backend/data

# Miscellany
__pycache__/
.DS_Store
testing.py